$buttons: (
  "white": $white,
  "black": $black,
  "primary": $primary,
  "secondary": $secondary,
  "tertiary": $tertiary,
  "highlight": $highlight
);

.button {
  @include heading-font();
  background: $primary;
  color: $white;
  border: 1px solid $primary;
  border-radius: 3px;
  // padding: 8px 25px;
  font-size: 14px;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  // display: inline-block;
  text-align: center;


	display: flex;
	justify-content: center;
	align-items: center;
	// background: #FAFAFA;
	padding: 20px 40px;
	background: none;
	position: relative;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 3px;
	cursor: pointer;
	&:after, &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: 2px solid #000;
    transition: transform .2s ;
  }
	&:after {
    transform: translate(3px, 3px);
  }
	&:before {
    transform: translate(-3px, -3px);
  }
	&:hover {
    &:after, &:before {
      transform: translate(0);
    }
  }
  // &.large {
  //   font-size: 15px;
  // }
  // &:hover {
  //   background: darken($primary, 5%);
  //   border-color: darken($primary, 5%);
  //   text-decoration: none;
  // }
//   @each $name, $color in $buttons {
//     &.#{$name} {
//       background: $color;
//       border-color: $color;
//       &:hover {
//         background: darken($color, 5%);
//         border-color: darken($color, 5%);
//       }
//     }
//   }
//   &.outline {
//     background: transparent;
//     &:hover {
//       background: transparent;
//     }
//   }
}
