.text-grid {
  background-color: $tertiary;
  .container {
    .text-grid-logo {
      max-height: 300px;
      margin-bottom: 35px;
    }
    .text-grid-title {
      @include h2;
      display: block;
      margin: 0 auto;
      text-align: center;
      color: $white;
      background-color: $primary;
      border-radius: 8px;
      max-width: fit-content;
      text-align: center;
      padding: 10px 20px;
      margin-bottom: 50px;
    }
    .text-grid-subtitle {
      display: block;
      color: #F62B00;
      padding: 10px;
      * {
        margin-bottom: 0;
        color: $black;
        font-weight: $font-weight-bold;
        font-size: 18px;
      }
    }
    .text-grid-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 20px;
      padding: 50px 0;
      max-width: 900px;
      margin: 0 auto;
      @include media-down (large-tablet) {
        grid-template-columns: repeat(2, 1fr);
      }
      @include media-down (small-tablet) {
        grid-template-columns: 1fr;
      }

      .text-grid-column {
        display: flex;
        flex-direction: column;
        padding: 10px;
        .text-grid-column-title {
          * {
            @include h4;
            text-transform: uppercase;
            font-weight: $font-weight-bold;
            padding: 10px;
            color: $black;
            border: 3px $primary solid;
            border-radius: 8px;
            background-color: $primary;
            color: $white;
            text-align: center;
          }
        }
        .text-grid-column-content {
          // background-color: $primary;
          // border-radius: 8px;
          padding: 20px;
          flex: 1;
        }
        .text-grid-column-price {
          margin-top: 20px;
          // padding: 10px;
          // color: $black;
          // border: 3px $primary solid;
          // border-radius: 50px;
          font-weight: $font-weight-bold;
          text-align: center;
        }
      }
    }
  }
}
