.header {
  padding: 14px 0;
  // position: fixed;
  background-color: $primary;
  // max-width: 900px;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 9;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
  }
}


.nav {
  .button {
    padding: 5px 35px;
  }
}
